<div class="comment_form">
  <% if @comment.errors.any?%>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohbited this comment from being saved:</h2>



  <p>
    <%= f.submit %>
  </p>
  <% end %>